{% extends "base/base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card-body d-flex flex-column align-items-start">
            <form class="col-md-12" id="run_auto_form" ng-submit="addUrl(originalUrl)">
                <div class="form-group row">
                    <label for="originalUrl">Enter the original URL to Encode/Shorten</label>
                    <input type="text" required ng-model="originalUrl" class="form-control mb-2" id="originalUrl">
                </div>

                <div class="form-group row float-right">
                    <div class="col-sm-10">
                        <input type="submit" value="Get Shortened URL" name="savesuite" id="savesuite"
                               class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="alert alert-success lert-dismissible fade show" role="alert" ng-if="isSuccess">
        Successfully Create the Short link: <a href="build_status" class="alert-link">
        {{shortLink|angular}} </a>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger lert-dismissible fade show" role="alert" ng-if="isFailure">
        Failed to create the short link.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endblock %}